<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Atlas Air Records</title>

    <link rel="stylesheet" href="~/css/homepage.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>

<body>

    <header class="navbar">
        <a asp-controller="Home" asp-action="Index" class="logo-link">
            <img src="~/img/atlas-logo-white.png" alt="Atlas Air Records" class="logo-img" />
        </a>

        <nav class="nav-links">
            <a asp-controller="AtlasAirRecords" asp-action="HomePage">Inicio</a>
            <a asp-controller="GestionAviones" asp-action="Index">Aviones</a>
            <a asp-controller="GestionAerolineas" asp-action="Index">Aerolíneas</a>
            <a asp-controller="GestionPropietarios" asp-action="Index">Propietarios</a>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>